<!--
*bottom_nav.ejs
*Muksud Hussain Mahi
*ID: 301155894
*May 31, 2021
-->
<!--Bottom nav-->
</body>
</html>
<footer class="mastfoot mt-auto">
  <div class="inner">
    <h6 class="display-6 navbar-text">&copy;2021. All Rights Reserved.</h6>
  </div>
</footer>