  <!--
*footer.ejs
*Muksud Hussain Mahi
*ID: 301155894
*May 31, 2021
-->
  <!--Footer section-->
</div>
  <!--Script section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/table-sort-js/table-sort.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>