<!--
*header.ejs
*Muksud Hussain Mahi
*ID: 301155894
*May 31, 2021
-->
<!--Header section-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%=title%></title></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body class="text-center" id=<%=id%>>
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
