<!--
*home.ejs
*Muksud Hussain Mahi
*ID: 301155894
*May 31, 2021
-->
<%- include ../partials/header.ejs %>
  <%- include ../partials/main_nav.ejs %>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Hi this is Muksud!</h1>
      <p class="lead">Wlcome to my portfolio</p>
      <p class="lead">With the passion of progamming and problem solving, I am working hard to become a Softaware
        Developer.</p>
      <p class="lead">Click below to know more about me.</p>
      <!--Button to take to home page-->
      <p class="lead">
        <a href="/about" class="btn btn-lg btn-secondary">About Me</a>
      </p>
    </main>
    <%- include ../partials/bottom_nav.ejs %>
      <%- include ../partials/footer.ejs %>